@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html {
    font-size: 62.57%;
    font-family: serif;
}

body  {
    font-size: 1.8rem; 
    line-height: 1.618;
    margin: auto;
    background-color: #f9f9f9;
    padding-right: 20em;
    padding-left: 20em;
}

.header-image {
    max-width: 100%;
}

.ticket-banner {
    width: 100%;
}

.season-banner {
    width: 100%;
    margin-top: -9px;
}

.buy-ticket {
    background: red;
    color: white;
    padding: 10px;
}

.article-container {
    padding: 10px;
}

.schedule-container h1 {
    margin-left: 10px;
}

.schedule-container img {
    width: 100%;
    margin: -7px 8px 5px;
}

.game-row {
    width: 100%;
    margin-bottom: 1em;
    margin-left: 5px;
}

.game-item {
    display: inline-block;
    padding: .5em;
}

.game-date {
    width: 11%;
}

.game-time {
    width: 24%
}

.game-location {
    width: 28%;
}

.game-tickets {
    color: red;
    font-weight: lighter;
    width: 15%;
}

.green-image img {
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.sports-container {
    margin: auto;
}

.sports-container h2 {
    text-align: center;
    font-weight: lighter;  
    letter-spacing: 1px;
}

.sports-newsarticle-content {
    margin: 1px;
}

.game-container   {
    display: flex;
    align-content: center;
    padding: 15px;
    height: 100%;
    width: 100%;
}


.baseball-container   {
    padding: 10px;
    margin: 2px;
    
}

.basketball-container {
    padding: 10px;
    margin: 2px;
}

.baseball-container img {
    max-width: 80%;
}


.basketball-container img {
    max-width: 80%;
}

.banner-section {
    margin: 10px;
}

 .gray-banner img {
    width: 100%;
}

.contact {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.main-footer {
    padding: .25em 0;
}

.footer-nav {
    display: flex;
    margin-left: 20%;   
}

.footer-nav li {
    display: inline-block;
}

.gray-banner {
    margin: 10px
}
.footer-nav img {
    width: 100%;
    height: 100%;
    
}
.sender-info {
    text-align: center;
    margin-top: 10%;
    font-size: large;
    font-weight: lighter;
}

.baseball-button {
    margin-top: 10px;
}

.buy-button {
    margin-top: 10px;
}




