@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

html {
    font-size: 62.57%;
    font-family: serif;
}

body  {
    /* font-size: 1.8rem; */
    line-height: 1.618;
    margin: auto;
    background-color: #f9f9f9;
    padding-right: 15em;
    padding-left: 15em;

}


.header-image {
    width: 100%;
}

.ticket-banner {
    width: 100%;
}

.season-banner {
    width: 100%;
    margin-top: -5px;
}

.buy-ticket {
    background: red;
    color: white;
    padding: 10px;
}

.article-container {
    padding: 10px;
}

.schedule-container h1 {
    margin-left: 10px;
}

.schedule-container img {
    width: 100%;
    margin: -7px 8px 5px;
}

.game-row {
    width: 100%;
    margin-bottom: 1em;
}

.game-item {
    display: inline-block;
    padding: .5em;
}

.game-date {
    width: 11%;
}

.game-time {
    width: 24%
}

.game-location {
    width: 24%;
}

.game-tickets {
    color: red;
    font-weight: lighter;
}

.green-image img {
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.sports-container h2 {
    text-align: center;
    font-weight: lighter;  
    letter-spacing: 1px;
}

.sports-newsarticle-content {
    margin: 1px;
}

.game-container   {
    display: flex;
    align-content: center;
    padding: 15px;
    height: 100%;
    width: 100%;
}


.baseball-container   {
    padding: 10px;
    margin: 2px;
    
}

.basketball-container {
    padding: 10px;
    margin: 2px;
}

.baseball-container img {
    height: 40%;
    width: 80%;
}


.basketball-container img {
    height: 40%;
    width: 80%;
}


 .gray-banner img {
    width: 96%;
    padding: 10px; 
}

.contact {
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.main-footer {
    padding: .25em 0;
}

.footer-nav {
    display: flex;
    
}



/* .main-footer {
    padding: .25em 0;
} */

/* .main-footer-container {
    
    align-items: center;
} */

/* .main-footer-container ul {
    flex-grow: 1;
    display: flex;
    text-align: center;
} */

/* .footer-nav li {
    padding: 0.5em;
} */

.footer-nav img {
    width: 30px;
    height: 30px;
    
}

/* .footer-nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
} */

/* .main-footer h3 {
    text-align: center;
    font-size: large;
    font-weight: lighter;
} */

/* footer ul  {
    display: flex;

} */

.sender-info {
    text-align: center;
    margin-top: 20%;
    font-size: large;
    font-weight: lighter;
}

.baseball-button {
    margin-top: 10px;
}

.buy-button {
    margin-top: 10px;
}



